# Backend Base URL
VITE_BE_BASE_URL=http://localhost:5000
BE_BASE_URL=http://localhost:5000

# Secret Key for LocalStorage Data Encryption (CryptoJS)
VITE_ENCRYPTION_KEY=your_secret_encryption_key_here
